body{
	background-color: #efefef;
}

.main{
	min-height: 400px;
	margin: 25px auto;
	padding: 15px 0;
	border-radius: 5px;
	box-shadow:2px 2px 4px #888;
	background-color: #fff;
}

.head{
	height: 150px;
}

.table{
	width: 95%;
	margin: 0 auto;
}

.pagination-info{
	display: none;
}

.host-info li{
	list-style-type: none;
	width: 100%;
	min-height: 50px;
	line-height: 50px;
	border-bottom: 1px dashed #e2e2e2;
}

.host-info li span{
	width: 20%;
	float: left;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.host-info li p{
	font-size: 14px;
	width: 70%;
	min-height: 10px;
	overflow: auto;
	margin-left: 30px;
}

.remark{
	line-height: 28px;
}

.input-group{
	margin: 0 auto;
	width: 90%;
}

.input-group-addon{
	width: 100px;
}

.input-group textarea{
	resize: none;
}